@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


// .cards {
//     	width: 100%;
//     display: flex;
//     justify-content: space-between;
//     // flex-wrap: wrap;
//     // flex-direction: column;
//     // background-color: red;
//   }

  .card {
    
    text-align: left;
    color: inherit;
    text-decoration: none;

    border-radius: 5px;
    transition: color 0.15s ease, border-color 0.15s ease;
background-color: transparent;
  height: auto;
  min-height: 500px;
   text-align: center;
   color: white;
  transition: box-shadow .3s;
  // background-color: #e9e9e9;
  // box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.05);
  // transform: scale(1.009);
  // transition: all .2s;
  }
  .card img {
    width: 100%;

    border-radius: 15px 15px 0 0;

  }

  .card:hover,
  .card:focus,
  .card:active {

    box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.05);
    transform: scale(1.030);
    transition: all .3s;
  }
  
  .card h1 {
    font-size: 26px;
    text-align: left;
    margin-left: 10px;
    // margin-right: 10px;
    font-family: "Poppins", sans-serif !important;
    color: #15171a;
    margin-top: 0;
  }

  .card p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 10px 20px 10px;
    text-align: left;
    font-family: "Poppins", sans-serif !important;
    max-height: 150px; 
    color: #000;
  }
  .card .readTime {
    margin: 0 10px 0 10px;
  }

 

  .readTime {
    color: #738a94;
    font-family: "Poppins", sans-serif !important;
  }

  .card div {
    display: flex;
    justify-content: space-between;
  }
  .card .Date {
    color: #738a94;
    font-family: "Poppins", sans-serif !important;
  }
  .lastBlog {
   
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

 .datetime {
  display: flex;
  justify-content: space-between;
 }
 .datetime .readTime {
  color: black;
 }
 .datetime .Date {
  color: #738a94;
 }



  @media (max-width: 1000px) {
    .lastBlog {
    flex-wrap: wrap;
      text-align: center;
      
    }
  }

  @media (max-width: 650px) {
    .lastBlog img{
      height: 200px;
      width: 300px;
    }

  }
  @media (max-width: 400px) {
    .lastBlog img{
      height: 200px;
      width: 200px;
    }
    
 
  }
  .card .readMore {
    position: relative;
    display: inline-block;
    margin-top: 10px;
  }
  
  .card .readMore span {
    position: relative;
    z-index: 1;
  }
  
  .card .readMore:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  .card .readMore:hover:before {
    transform: scaleX(1);
    background-color: white; /* Adjust the highlight color */
  }
  

  
  // @media (max-width: 600px) {
  //   .grid {
  //     width: 100%;
  //     flex-direction: column;
  //   }
  //   .card {
  //     margin: 1rem;
  //     // padding: 1.5rem;
  //     text-align: left;
  //     color: inherit;
  //     text-decoration: none;
  //     // border: 1px solid #eaeaea;
  //     // border-radius: 10px;
  //     transition: color 0.15s ease, border-color 0.15s ease;
  //    width: 450px;
  //    height: 450px;
  //    text-align: center;
     
  //   }
  // }

 
  @media (max-width: 500px) {
    
    .card {
      // margin: 1rem;
      // padding: 1.5rem;
      text-align: left;
      color: inherit;
      text-decoration: none;
      // border: 1px solid #eaeaea;
      // border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
     width: 100%;
     min-height: 500px;
     max-height: auto;
     text-align: center;
     
    }
    .card div {
      margin: 0;
    }
  }


  @media (max-width: 400px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .card {
      margin: 0 auto;
      // margin: 1rem;
      // padding: 1.5rem;
      text-align: left;
      color: inherit;
      text-decoration: none;
      // border: 1px solid #eaeaea;
      // border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
    //  width: 300px;
    //  min-height:350px;
     max-height: auto;
     text-align: center;
     
    }
  }


  @media (max-width: 450px) {
   
    .card img {
      object-fit: contain;
      height: auto;
      // width: auto;
    }
  }