.TechStack {
    padding: 80px 0;
    background-color:#f9f9f9;
}

.TechIcons {
    max-width: 1348px;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

   }

   