html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #111;
     max-width: 100vw;
    overflow-x: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  border: 1px solid red;
  /* background-color: black; */
}

code {
  color: red;
  /* background-color: rgb(220, 220, 220); */
  width: 600px;
  /* overflow-x: auto; */
}