@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container {
    height: auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 24px;
  }
  
  .container h1 {
    // text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  
  .container p {
    // text-align: center;
    
    font-family: "Poppins", sans-serif !important;
    font-size: 35px;
    color: white;
  }

 



  .container .buttonContainer a.button {
    display: block;
    min-width: 230px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif !important;
    text-align: center;
  }

  .arrow {
    margin-left: 10px;
    padding-top: 10px;
    font-size: 25px;
  }
  .CTA {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    max-width: 1348px;
    background-color: #248bcc;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 58px;
    margin: 0 24px;
  }


  @media (max-width: 1000px) {
    .container {
      margin: 0 24px;
      
    }
    .CTA {
      margin: 0 24px;
    }
  }

  @media (max-width: 900px) {
    
    .CTA {
      flex-direction: column;
      text-align: center;
      padding: 30px 24px;
    }
    .CTA p{
      font-size: 27px;
      text-align: center;
    }
  }