// .container {
//   margin-top: 150px;

// }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.container {
  background-color: black;
  max-width: 100vw;
  min-height: 100vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeContainer{
    // margin-top: 100px;
   
    display: flex;
    // flex-direction: column;
    justify-content: center;
    flex-direction:row-reverse;
    align-items: center;
    flex-wrap: wrap;
// background-color: #0000;
    
  }
  // .HomeContainer {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
// .HomeContainer div {
//   margin: 20px;
// }
.HomeContainer .ImageContainer img {
    border-radius: 200px;
    border: 5px solid #248bcc;
    margin-left: 20px;
}

.HomeContainer p {
    // text-align: center;
    width: 500px;
    
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    color: rgb(121, 121, 121);
  }

  .HomeContainer h1 {
    // text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    // color: white;
  }
  .TechIcons {
    display: flex;
    align-items: center;
   }

   @media(max-width: 500px) {
    .HomeContainer p {
      // text-align: center;
      width: 300px;
      
      font-family: "Poppins", sans-serif !important;
      font-size: 20px;
      color: rgb(121, 121, 121);
    }
   }
   
  @media (max-width: 768px) {
    .HomeContainer h1 {
      text-align: center;
      
    }
    .HomeContainer p {
      width: 100%;
      text-align: center;
    }
    .TechIcons {
      display: flex;
      align-items: center;
      justify-content: center;
     }
  }
@media (max-width: 1000px) {
  .container {
    margin-top: 50px;
    
  }
 
}
// @media(max-width: 500px) {
//   .container div{
//     margin-left: 0;
//     margin-right: 0;

//   }
//  }
 @media(max-width: 500px) {
  .container div{
    margin-left: 5px;
    margin-right: 5px;
    
    
  }
  .container {
    margin-top: 30px;
  }
 }


 .TextContainer h1 span{
  color: #248bcc;
 }


 .TextContainer h1 {
  --s: 0.1em;   
  --c: #248bcc; 
  
  color: white;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 1s;
}
.TextContainer h1:hover {--_p: 100%}

// @media (max-width: 980px) {
//   .HomeContainer {
    
//     min-height: 70vh;
   
//   }
// }