// .container {
//   margin-top: 150px;

// }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.container {
  // background-color: #111;
  // min-height: 85vh;
  max-width: 100vw;
  // min-height: 100vh;
  // max-height: auto;
  height:auto;
  margin-top: 80px;
  padding:80px 0 ;
  display: flex;
  align-items: center;
  justify-content: center;

// background-color: red;
}
.HomeContainer{
    // margin-top: 100px;
   
    
    
    max-width: 1348px;
    
    padding: 0;
   
    
  }

  .Home {
    display: flex;
    padding: 0 24px;
      width: 100%;
    justify-content: space-between;
    flex-direction:row-reverse;
    align-items: center;
  }

.Home .ImageContainer img {
    border-radius:80% 20% 78% 22% / 44% 70% 30% 56%  ;
    transition: border-radius 500ms ease-in-out;
    border: 5px solid #248bcc;
    margin-left: 20px;
    
}

.Home .ImageContainer img:hover {
  border-radius: 52% 48% 19% 81% / 51% 55% 45% 49%  ;
 
  
}

.Home p {
    // text-align: center;
    // width: 500px;
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    color: rgb(121, 121, 121);
  }

  .Home h1 {
    // text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    // color: white;
  }
  .TechIcons {
    display: flex;
    align-items: center;
   }

   @media(max-width: 500px) {
    .Home p {
      // text-align: center;
      // width: 300px;
      
      font-family: "Poppins", sans-serif !important;
      font-size: 20px;
      color: rgb(121, 121, 121);
    }
   }
   
  @media (max-width: 768px) {
    .Home h1 {
      text-align: center;
      
    }
    .Home p {
      width: 100%;
      text-align: center;
    }
    .TechIcons {
      display: flex;
      align-items: center;
      justify-content: center;
     }
  }
@media (max-width: 1000px) {
  .container {
    margin-top: 50px;
    
  }
 
}

// @media(max-width: 500px) {
//   .container div{
//     margin-left: 0;
//     margin-right: 0;

//   }
//  }
//  @media(max-width: 500px) {
//   .container div{
//     margin-left: 5px;
//     margin-right: 5px;
    
    
//   }
//   .container {
//     margin-top: 30px;
//   }
//  }


.TextContainer {
  width: 50%;
  // background-color: red;
}
.TextContainer p {
  width: 100%;
}
 .TextContainer h1 span{
  color: #248bcc;
 }


 .TextContainer h1 {
  --s: 0.1em;   
  --c: #248bcc; 
  
  color: black;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 1s;
}
.TextContainer h1:hover {--_p: 100%}

@media (max-width: 450px) {
  .Home {
    
   padding-top:50px;
   
  }
}


@media (max-width: 1150px) {
  // .HomeContainer {
  //   justify-content: center;
  // }
  .Home .ImageContainer img {
    width: 400px;
    height: 400px;
}
//   .TextContainer {
//     width:75%;
//     text-align: center;
//     align-items: center;
//     // background-color: red;
//   }
//   .TextContainer .TechIcons {
//     display: flex;
//     justify-content: center;
//   }

}

@media (max-width: 950px) {
  .Home {
    justify-content: center;
    flex-wrap: wrap;
  }
 
  .TextContainer {
    width:75%;
    text-align: center;
    align-items: center;
    // background-color: red;
  }
  .TextContainer .TechIcons {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 600px) {
  .container {
    margin-top: 0;
  }
  .Home {
    justify-content: center;
    width: 100vw;
  }
  .Home .ImageContainer img {
    width: 250px;
    height: 250px;
}
  .TextContainer {
    width:100%;
    text-align: center;
    align-items: center;
    // background-color: red;
  }
  .TextContainer .TechIcons {
    display: flex;
    justify-content: center;
  }
  .Home p {
    // text-align: center;
    // width: 500px;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    color: rgb(121, 121, 121);
  }
  .Home h1 {
    font-size: 25;
  }
}